.Rproj.user
.Rhistory
*.RData
*.Rdata
Biogeography.Rproj
No_Synch_Scripts
No_Synch_Data
No_Synch_Trees
No_Synch_Diagrams
No_Synch_Metadata
*.trees
*.log
No_Synch_Dump
Figures
StarBEAST
Supplementary_COII_trimmed.nex
H3_trimmed.nex
GenBank_Submissions